### Boolean - True or False

### Boolean Values - 1(True) or 0(False)

# Control Statements

In [1]:
a = 10 # assigning a = 0

In [2]:
if a:
    print('This is the value of a') # if 'a' value is anything other than 0, then if part will execute

This is the value of a

In [3]:
a = 0 # assigning a = 0

In [4]:
# if the first condition doesn't satisfy, it will go to the else part.
if a:
    print('This is the value of a')
else:
    print('False')

False

In [5]:
a = 1 # assigning a = 1

In [6]:
a

1

In [7]:
if a:
    print('This is the value of a')
else:
    print('False')

This is the value of a

In [8]:
a = -1 # assigning a = 1

In [9]:
# if 'a' value is anything other than 0, then if part will execute
if a:
    print('This is the value of a')
else:
    print('False')

This is the value of a

### pass

In [11]:
a = 10

In [12]:
if a<20:
    print("Condition is true")
else:
    print("Condition is false")

Condition is true

In [14]:
a = 30

In [15]:
if a<20:
    print("Condition is true")
else:
    print("Condition is false")

Condition is false

In [16]:
a = 10

In [17]:
if a<20:
    pass
else:
    print("Condition is false")

In [18]:
a = 30

In [19]:
if a<20:
    pass
else:
    print("Condition is false")

Condition is false

In [22]:
a = 50

In [23]:
if a<20:
    print("Condition is true")
else:
    pass

In [24]:
a = 20

In [25]:
if a<=20:
    print("Condition is true")
else:
    pass

Condition is true

In [26]:
if a<20:
    print("Condition is true")
else:
    pass

### if-else

In [27]:
a = 10

In [28]:
if a>20:
    print("This is a number")
else:
    print('This is a statement')

This is a statement

In [29]:
a = 20

In [30]:
if a>20:
    print("This is a number")
else:
    print('This is a statement')

This is a statement

### if-if else

In [31]:
a = 10
if a>20:
    print('This is a number')
if a == 10:
    print('This is a alternate statement')
else:
    print('Print this statement')

This is a alternate statement

In [32]:
a = 11
if a>20:
    print('This is a number')
if a == 10:
    print('This is a alternate statement')
else:
    print('Print this statement')

Print this statement

In [33]:
a = 10
if a>20:
    print('This is a number')
if a == 10:
    pass
else:
    print('Print this statement')

In [34]:
a = 11
if a>20:
    print('This is a number')
if a == 10:
    print('This is a alternate statement')
else:
    pass

In [35]:
a = 10
if a<20:
    print('This is a number')
if a == 10:
    print('This is a alternate statement')
else:
    print('Print this statement')

This is a number
This is a alternate statement

In [36]:
a = 10
if a<20:
    print('This is a number')
if a == 10:
    pass
else:
    print('Print this statement')

This is a number

### Task 1

* WAP to find the integer values in the list and replace them with their respective character.

* Sample input:
    
    * ["soumya", "ByteIQ", 2, 4, "Mindgraph", 8.53, 7]


* Sample output:
    
    * ["soumya", "ByteIQ", "Two", "Four", "Mindgraph", 8.53, "Seven"]

In [46]:
number_dict = {1 : 'One', 2: 'Two', 3: 'Three', 4: 'Four', 5: 'Five', 6: 'Six', 7: 'Seven'}

In [47]:
number_dict

{1: 'One', 2: 'Two', 3: 'Three', 4: 'Four', 5: 'Five', 6: 'Six', 7: 'Seven'}

In [48]:
l = ["soumya", "ByteIQ", 2, 4, "Mindgraph", 8.53, 7]

In [50]:
new_list = []
for i in l:
    if type(i) == int:
        if i in number_dict.keys():
            new_list.append(number_dict[i])
    else:
        new_list.append(i)
print(new_list)

['soumya', 'ByteIQ', 'Two', 'Four', 'Mindgraph', 8.53, 'Seven']

In [51]:
new_list = []

In [52]:
new_list

[]

In [53]:
for i in l:
    print(i)

soumya
ByteIQ
2
4
Mindgraph
8.53
7

In [55]:
for i in l:
    print(i)
    if type(i) == int:
        print(i)

soumya
ByteIQ
2
2
4
4
Mindgraph
8.53
7
7

In [56]:
number_dict

{1: 'One', 2: 'Two', 3: 'Three', 4: 'Four', 5: 'Five', 6: 'Six', 7: 'Seven'}

In [63]:
for i in number_dict.keys():
    print(i)
    print(number_dict[i])

1
One
2
Two
3
Three
4
Four
5
Five
6
Six
7
Seven

In [65]:
number_dict[1]

'One'

In [66]:
number_dict[2]

'Two'

In [57]:
number_dict.keys()

dict_keys([1, 2, 3, 4, 5, 6, 7])

In [58]:
number_dict.values()

dict_values(['One', 'Two', 'Three', 'Four', 'Five', 'Six', 'Seven'])

In [59]:
number_dict.items()

dict_items([(1, 'One'), (2, 'Two'), (3, 'Three'), (4, 'Four'), (5, 'Five'), (6, 'Six'), (7, 'Seven')])

In [67]:
new_list = []
for i in l:
    if type(i) == int:
        if i in number_dict.keys():
            new_list.append(number_dict[i])
    else:
        new_list.append(i)
print(new_list)

['soumya', 'ByteIQ', 'Two', 'Four', 'Mindgraph', 8.53, 'Seven']

In [68]:
l

['soumya', 'ByteIQ', 2, 4, 'Mindgraph', 8.53, 7]

In [69]:
number_dict

{1: 'One', 2: 'Two', 3: 'Three', 4: 'Four', 5: 'Five', 6: 'Six', 7: 'Seven'}

### Task 2

* WAP to print the the length of the every element inside the list.

* Sample input: 
    
    * ["Hii", "ByteIQ", "Mindgraph", "Shubha"]


* Sample output:
        
        
        * [3, 6, 9, 6]

In [39]:
l = ["Hii", "ByteIQ", "Mindgraph", "Shubha"]

In [40]:
l

['Hii', 'ByteIQ', 'Mindgraph', 'Shubha']

In [42]:
output_list = []
for i in l:
    output_list.append(len(i))
print(output_list)

[3, 6, 9, 6]

### Task 3

* WAP to return True if there is any duplicate character in a string, otherwise false. 
    
    * Sample input1:
        
       * "Soumya"
    
    * Sample output1:
        
        * False
    
    * Sample input2:
        
        * "cuttack"
    
    * Sample output2:
        
        * True

In [71]:
input_string = input('Enter a String: ')

Enter a String: Cuttack

In [72]:
input_string

'Cuttack'

In [73]:
set(input_string)

{'C', 'a', 'c', 'k', 't', 'u'}

In [74]:
set_string =set(input_string)

In [75]:
len(input_string)

7

In [76]:
len(set_string)

6

In [77]:
if len(set_string)< len(input_string):
    print(True)

True

In [82]:
input_string = input('Enter a String: ')
set_string =set(input_string)
if len(set_string)< len(input_string):
    print(True)
else:
    print(False)

Enter a String: Parth
False

In [83]:
input_string = input('Enter a String: ')
set_string =set(input_string)
if len(set_string)< len(input_string):
    print(True)
else:
    print(False)

Enter a String: Shubha
True

### Task - 4

* WAP to convert a list of character into a string.

    * Sample input:
       
        * ["s", "o", "u", "m", "y", "a"]
        
    * Sample output:
        
        * "soumya"

In [84]:
l = ["s", "o", "u", "m", "y", "a"]

In [85]:
''.join(l)

'soumya'

### Task - 5

* WAP to remove all the characters from a string except integers.

    
    * Sample input:       
        
        * "I bought 5 pens and 6 pencils"
    
   
   * Sample output:
        
        
        * "56"

In [86]:
s = "I bought 5 pens and 6 pencils"

In [88]:
s.split(' ')

['I', 'bought', '5', 'pens', 'and', '6', 'pencils']

In [94]:
new_list = []
for i in s:
    if i.isdigit():
        new_list.append(i)
''.join(new_list)

'56'

In [92]:
new_list

['5', '6']