# Dictionary - Extensive use

In [11]:
d = {'ByteIQ':{'Shubha': {'Emp ID':'E007', 'Profile':'Data Engineering'}, 'Satya':{'Emp ID':'E009', 'Profile':'Data Engineering'}},
    'Mindgraph':{'Chaitanya' : {'Emp ID':'MG180298', 'Profile':'Data Engineering'}, 'Saiteja': {'Emp ID':'MG180299', 'Profile':'Data Engineering'}}}

### Breakdown Type-1

In [10]:
{'ByteIQ':
 {'Shubha': {'Emp ID':'E007', 'Profile':'Data Engineering'}, 
  'Satya':{'Emp ID':'E009', 'Profile':'Data Engineering'}
 },
 'Mindgraph':
 {'Chaitanya' : {'Emp ID':'MG180298', 'Profile':'Data Engineering'}, 
  'Saiteja': {'Emp ID':'MG180299', 'Profile':'Data Engineering'}
 }
}

{'ByteIQ': {'Shubha': {'Emp ID': 'E007', 'Profile': 'Data Engineering'},
  'Satya': {'Emp ID': 'E009', 'Profile': 'Data Engineering'}},
 'Mindgraph': {'Chaitanya': {'Emp ID': 'MG180298',
   'Profile': 'Data Engineering'},
  'Saiteja': {'Emp ID': 'MG180299', 'Profile': 'Data Engineering'}}}

### Breakdown Type-2

In [20]:
{'ByteIQ':
 {'Shubha': 
  {'Emp ID':'E007', 'Profile':'Data Engineering'}, 
  'Satya':
  {'Emp ID':'E009', 'Profile':'Data Engineering'}
 },
 'Mindgraph':
 {'Chaitanya' : 
  {'Emp ID':'MG180298', 'Profile':'Data Engineering'}, 
  'Saiteja': 
  {'Emp ID':'MG180299', 'Profile':'Data Engineering'}
 }
}

{'ByteIQ': {'Shubha': {'Emp ID': 'E007', 'Profile': 'Data Engineering'},
  'Satya': {'Emp ID': 'E009', 'Profile': 'Data Engineering'}},
 'Mindgraph': {'Chaitanya': {'Emp ID': 'MG180298',
   'Profile': 'Data Engineering'},
  'Saiteja': {'Emp ID': 'MG180299', 'Profile': 'Data Engineering'}}}

### Display for Shubha

In [16]:
d['ByteIQ']

{'Shubha': {'Emp ID': 'E007', 'Profile': 'Data Engineering'},
 'Satya': {'Emp ID': 'E009', 'Profile': 'Data Engineering'}}

In [17]:
d['ByteIQ']['Shubha']

{'Emp ID': 'E007', 'Profile': 'Data Engineering'}

In [18]:
d['ByteIQ']['Shubha']['Emp ID']

'E007'

In [19]:
d['ByteIQ']['Shubha']['Profile']

'Data Engineering'

### Tasks

1. Display the Details of ByteIQ
2. Display the Details of Mindgraph
3. Display the Details of Employees of ByteIQ(Shubha, Satya) - Profile and Emp ID
4. Display the Details of Employees of Mindgraph(Saiteja, Chaitanya) - Profile and Emp ID

### Task - 1

In [21]:
print('The Details of ByteIQ Employees are \n{}'.format(d['ByteIQ']))

The Details of ByteIQ Employees are
{'Shubha': {'Emp ID': 'E007', 'Profile': 'Data Engineering'}, 'Satya': {'Emp ID': 'E009', 'Profile': 'Data Engineering'}}

### Task - 2

In [22]:
print('The Details of Mindgraph Employees are \n{}'.format(d['Mindgraph']))

The Details of Mindgraph Employees are
{'Chaitanya': {'Emp ID': 'MG180298', 'Profile': 'Data Engineering'}, 'Saiteja': {'Emp ID': 'MG180299', 'Profile': 'Data Engineering'}}

### Task -3 

* Display the Details of Employees of ByteIQ(Shubha, Satya) - Profile and Emp ID

### Details of Shubha

In [23]:
print('The Details of Shubha\n{}'.format(d['ByteIQ']['Shubha']))

The Details of Shubha
{'Emp ID': 'E007', 'Profile': 'Data Engineering'}

In [26]:
print('Employee ID of Shubha is \n{}'.format(d['ByteIQ']['Shubha']['Emp ID']))

Employee ID of Shubha
E007

In [27]:
print('Profile of Shubha\n{}'.format(d['ByteIQ']['Shubha']['Profile']))

Profile of Shubha
Data Engineering

### Details of Satya

In [25]:
print('The Details of Satya\n{}'.format(d['ByteIQ']['Satya']))

The Details of Satya
{'Emp ID': 'E009', 'Profile': 'Data Engineering'}

In [28]:
print('Employee ID of Satya is \n{}'.format(d['ByteIQ']['Satya']['Emp ID']))

Employee ID of Satya is
E009

In [31]:
print('Profile of Satya\n{}'.format(d['ByteIQ']['Satya']['Profile']))

Profile of Satya
Data Engineering

### Task - 4 - Display the Details of Employees of Mindgraph(Saiteja, Chaitanya) - Profile and Emp ID

### Details of Chaitanya

In [32]:
print('The Details of Chaitanya\n{}'.format(d['Mindgraph']['Chaitanya']))

The Details of Chaitanya
{'Emp ID': 'MG180298', 'Profile': 'Data Engineering'}

In [33]:
print('Employee ID of Chaitanya is \n{}'.format(d['Mindgraph']['Chaitanya']['Emp ID']))

Employee ID of Chaitanya is
MG180298

In [34]:
print('Profile of Chaitanya\n{}'.format(d['Mindgraph']['Chaitanya']['Profile']))

Profile of Chaitanya
Data Engineering

### Details of Saiteja

In [38]:
print('The Details of Saiteja\n{}'.format(d['Mindgraph']['Saiteja']))

The Details of Saiteja
{'Emp ID': 'MG180299', 'Profile': 'Data Engineering'}

In [36]:
print('Employee ID of Saiteja is \n{}'.format(d['Mindgraph']['Saiteja']['Emp ID']))

Employee ID of Saiteja is
MG180299

In [37]:
print('Profile of Saiteja\n{}'.format(d['Mindgraph']['Saiteja']['Profile']))

Profile of Saiteja
Data Engineering

In [44]:
d

{'ByteIQ': {'Shubha': {'Emp ID': 'E007', 'Profile': 'Data Engineering'},
  'Satya': {'Emp ID': 'E009', 'Profile': 'Data Engineering'}},
 'Mindgraph': {'Chaitanya': {'Emp ID': 'MG180298',
   'Profile': 'Data Engineering'},
  'Saiteja': {'Emp ID': 'MG180299', 'Profile': 'Data Engineering'}}}

### Keys

In [39]:
d.keys()

dict_keys(['ByteIQ', 'Mindgraph'])

In [40]:
d['ByteIQ'].keys()

dict_keys(['Shubha', 'Satya'])

In [42]:
d['ByteIQ']['Shubha'].keys()

dict_keys(['Emp ID', 'Profile'])

### Values

In [45]:
d.values()

dict_values([{'Shubha': {'Emp ID': 'E007', 'Profile': 'Data Engineering'}, 'Satya': {'Emp ID': 'E009', 'Profile': 'Data Engineering'}}, {'Chaitanya': {'Emp ID': 'MG180298', 'Profile': 'Data Engineering'}, 'Saiteja': {'Emp ID': 'MG180299', 'Profile': 'Data Engineering'}}])

In [46]:
d['ByteIQ'].values()

dict_values([{'Emp ID': 'E007', 'Profile': 'Data Engineering'}, {'Emp ID': 'E009', 'Profile': 'Data Engineering'}])

In [48]:
d['ByteIQ']['Shubha'].values()

dict_values(['E007', 'Data Engineering'])

### Items

In [50]:
d.items()

dict_items([('ByteIQ', {'Shubha': {'Emp ID': 'E007', 'Profile': 'Data Engineering'}, 'Satya': {'Emp ID': 'E009', 'Profile': 'Data Engineering'}}), ('Mindgraph', {'Chaitanya': {'Emp ID': 'MG180298', 'Profile': 'Data Engineering'}, 'Saiteja': {'Emp ID': 'MG180299', 'Profile': 'Data Engineering'}})])

In [51]:
d['ByteIQ'].items()

dict_items([('Shubha', {'Emp ID': 'E007', 'Profile': 'Data Engineering'}), ('Satya', {'Emp ID': 'E009', 'Profile': 'Data Engineering'})])

In [52]:
d['ByteIQ']['Shubha'].items()

dict_items([('Emp ID', 'E007'), ('Profile', 'Data Engineering')])

In [53]:
d['ByteIQ']['Shubha']['Emp ID'].items() # cannot go beyond 'Emp ID' of 'Shubha'

AttributeError: 'str' object has no attribute 'items'

# for loop continued

### and Operator

In [54]:
l= ['Shubha', [1, 2, 3, 4, 5], (2, 3, 4, 5, 6), 56, 67, 6+7j, True, 45.67, 'Mindgraph']

In [55]:
len(l)

9

In [56]:
range(len(l))

range(0, 9)

* In case of 'or' if one condition satisfies - condition is true - inner block will be executed.
* In case of 'and' if one confition does not satify - condition is false - inner block will not be executed.

In [57]:
l

['Shubha',
 [1, 2, 3, 4, 5],
 (2, 3, 4, 5, 6),
 56,
 67,
 (6+7j),
 True,
 45.67,
 'Mindgraph']

In [61]:
c = 1
for i in l:
    if type(i) == list and type(i) == tuple and type(i) == str:
        print(i)
        print("Iteration Number {} for {}".format(c, i))
        c += 1
    else:
#         print(i)
        print("Iteration Number {} for {} from False Block".format(c, i))
        c += 1

Iteration Number 1 for Shubha from False Block
Iteration Number 2 for [1, 2, 3, 4, 5] from False Block
Iteration Number 3 for (2, 3, 4, 5, 6) from False Block
Iteration Number 4 for 56 from False Block
Iteration Number 5 for 67 from False Block
Iteration Number 6 for (6+7j) from False Block
Iteration Number 7 for True from False Block
Iteration Number 8 for 45.67 from False Block
Iteration Number 9 for Mindgraph from False Block

In [62]:
for i in l:
    if type(i) == list and type(i) == tuple and type(i) == str:
        print(i)
    else:
        print('this is not possible')

this is not possible
this is not possible
this is not possible
this is not possible
this is not possible
this is not possible
this is not possible
this is not possible
this is not possible

In [63]:
l

['Shubha',
 [1, 2, 3, 4, 5],
 (2, 3, 4, 5, 6),
 56,
 67,
 (6+7j),
 True,
 45.67,
 'Mindgraph']

In [64]:
c = 1
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == str:
#         print(i)
        print("Iteration Number {} for {} from True Block".format(c, i))
        c += 1
    else:
#         print(i)
        print("Iteration Number {} for {} from False Block".format(c, i))
        c += 1

Iteration Number 1 for Shubha from True Block
Iteration Number 2 for [1, 2, 3, 4, 5] from True Block
Iteration Number 3 for (2, 3, 4, 5, 6) from True Block
Iteration Number 4 for 56 from False Block
Iteration Number 5 for 67 from False Block
Iteration Number 6 for (6+7j) from False Block
Iteration Number 7 for True from False Block
Iteration Number 8 for 45.67 from False Block
Iteration Number 9 for Mindgraph from True Block

In [65]:
l

['Shubha',
 [1, 2, 3, 4, 5],
 (2, 3, 4, 5, 6),
 56,
 67,
 (6+7j),
 True,
 45.67,
 'Mindgraph']

In [66]:
c = 1
for i in l:
    if type(i) == list or type(i) == tuple and type(i) == str:
#         print(i)
        print("Iteration Number {} for {} from True Block".format(c, i))
        c += 1
    else:
#         print(i)
        print("Iteration Number {} for {} from False Block".format(c, i))
        c += 1

Iteration Number 1 for Shubha from False Block
Iteration Number 2 for [1, 2, 3, 4, 5] from True Block
Iteration Number 3 for (2, 3, 4, 5, 6) from False Block
Iteration Number 4 for 56 from False Block
Iteration Number 5 for 67 from False Block
Iteration Number 6 for (6+7j) from False Block
Iteration Number 7 for True from False Block
Iteration Number 8 for 45.67 from False Block
Iteration Number 9 for Mindgraph from False Block

In [68]:
l

['Shubha',
 [1, 2, 3, 4, 5],
 (2, 3, 4, 5, 6),
 56,
 67,
 (6+7j),
 True,
 45.67,
 'Mindgraph']

In [67]:
c = 1
for i in l:
    if type(i) == list and type(i) == tuple or type(i) == str:
#         print(i)
        print("Iteration Number {} for {} from True Block".format(c, i))
        c += 1
    else:
#         print(i)
        print("Iteration Number {} for {} from False Block".format(c, i))
        c += 1

Iteration Number 1 for Shubha from True Block
Iteration Number 2 for [1, 2, 3, 4, 5] from False Block
Iteration Number 3 for (2, 3, 4, 5, 6) from False Block
Iteration Number 4 for 56 from False Block
Iteration Number 5 for 67 from False Block
Iteration Number 6 for (6+7j) from False Block
Iteration Number 7 for True from False Block
Iteration Number 8 for 45.67 from False Block
Iteration Number 9 for Mindgraph from True Block

In [69]:
l

['Shubha',
 [1, 2, 3, 4, 5],
 (2, 3, 4, 5, 6),
 56,
 67,
 (6+7j),
 True,
 45.67,
 'Mindgraph']

In [70]:
c = 1
for i in l:
    if type(i) == str or type(i) == tuple and type(i) == list:
#         print(i)
        print("Iteration Number {} for {} from True Block".format(c, i))
        c += 1
    else:
#         print(i)
        print("Iteration Number {} for {} from False Block".format(c, i))
        c += 1

Iteration Number 1 for Shubha from True Block
Iteration Number 2 for [1, 2, 3, 4, 5] from False Block
Iteration Number 3 for (2, 3, 4, 5, 6) from False Block
Iteration Number 4 for 56 from False Block
Iteration Number 5 for 67 from False Block
Iteration Number 6 for (6+7j) from False Block
Iteration Number 7 for True from False Block
Iteration Number 8 for 45.67 from False Block
Iteration Number 9 for Mindgraph from True Block

In [71]:
l

['Shubha',
 [1, 2, 3, 4, 5],
 (2, 3, 4, 5, 6),
 56,
 67,
 (6+7j),
 True,
 45.67,
 'Mindgraph']

In [74]:
c = 1
for i in l:
    if type(i) == str or type(i) == tuple and type(i) == list or type(i) == int:
#         print(i)
        print("Iteration Number {} for {} from True Block".format(c, i))
        c += 1
    else:
#         print(i)
        print("Iteration Number {} for {} from False Block".format(c, i))
        c += 1

Iteration Number 1 for Shubha from True Block
Iteration Number 2 for [1, 2, 3, 4, 5] from False Block
Iteration Number 3 for (2, 3, 4, 5, 6) from False Block
Iteration Number 4 for 56 from True Block
Iteration Number 5 for 67 from True Block
Iteration Number 6 for (6+7j) from False Block
Iteration Number 7 for True from False Block
Iteration Number 8 for 45.67 from False Block
Iteration Number 9 for Mindgraph from True Block

In [76]:
l = ['Shubha', [1, 2, 3, 4, 5], (2, 3, 4, 5, 6), 49, 67, (6+7j), True, 45.67, 'Mindgraph']

In [77]:
l

['Shubha',
 [1, 2, 3, 4, 5],
 (2, 3, 4, 5, 6),
 49,
 67,
 (6+7j),
 True,
 45.67,
 'Mindgraph']

In [78]:
c = 1
for i in l:
    if type(i) == str or type(i) == tuple and type(i) == list or type(i) == int and i>50:
#         print(i)
        print("Iteration Number {} for {} from True Block".format(c, i))
        c += 1
    else:
#         print(i)
        print("Iteration Number {} for {} from False Block".format(c, i))
        c += 1

Iteration Number 1 for Shubha from True Block
Iteration Number 2 for [1, 2, 3, 4, 5] from False Block
Iteration Number 3 for (2, 3, 4, 5, 6) from False Block
Iteration Number 4 for 49 from False Block
Iteration Number 5 for 67 from True Block
Iteration Number 6 for (6+7j) from False Block
Iteration Number 7 for True from False Block
Iteration Number 8 for 45.67 from False Block
Iteration Number 9 for Mindgraph from True Block